---
layout: default
title: Kache - A Local Storage Utility
---

{% include custom/kache-forkme.html %}

<div id="main">
    <article>
        <a href="http://travis-ci.org/#!/leveille/kache">{% img https://secure.travis-ci.org/leveille/kache.png 107 31 "Build Status" "Build Status" %}</a>

        <h1>{{ page.title }}</h1>

        <p>Inspired by kizzy (<a href="https://github.com/ded/Kizzy">https://github.com/ded/Kizzy</a>), Kache leverages HTML5 localStorage when available and falls back to an in-browser object store when it isn't.</p>

        <h2>Highlights</h2>

        <ul>
            <li> Namespaces</li>
            <li> Namespace prefix support</li>
            <li> Flexible timeout definitions</li>
            <li> localStorage with an in-memory fallback</li>
        </ul>

        <h2>Usage</h2>

{% codeblock lang:javascript Kache in action %}
var cache = Kache('users');
var user = cache.get('User');
if (user) {
    alert(user);
} else {
    cache.set('User', 'Tom Brady');
}
{% endcodeblock %}

        <p>Calling 'set' will return the cache value.</p>

{% codeblock lang:javascript Returning cache value with set %}
var cache = Kache('users');
var user = cache.get('User') || cache.set('User', 'Tom Brady');
{% endcodeblock %}

        <h2>Kache Configuration</h2>

        <p>Kache will look for the existance of a KacheConfig global during setup.  Here you can define an enabled status as well as a default cache object timeout:</p>

{% codeblock lang:javascript Using KacheConfig to define default cache properties %}
window.KacheConfig = {
    enabled: false,
    defaultTimeout: 0
};
{% endcodeblock %}

        <p>Kache will also look for the existance of a Timeouts object.  In the event that you want to sync/stagger cache timeouts for multiple cache layers (grid/web server/etc), you can define your default namespaced cache timeouts:</p>

{% codeblock lang:javascript Namespaced cache timeouts %}
window.KacheConfig.Timeouts = {
    'first_namespace': 3000,  // 3 second default timeout for any cache object in the 'first_namespace' namespace
    'second_namespace': 4000  // 4 second default timeout
};
{% endcodeblock %}

        <h2>Enabling/Disabling Kache</h2>

        <p>You can control whether or not Kache is enabled via the 'enabled' option in KacheConfig.  You can override this setting by explicitly enabling or disabling Kache:</p>

{% codeblock lang:javascript Namespaced cache timeouts %}
Kache.enable();
alert(Kache.isEnabled()); // true

Kache.disable();
alert(Kache.isEnabled()); // false
{% endcodeblock %}

        <p>Of note, if localStorage is supported, and the Kache store in use is localStorage, enabling kache via <code>Kache.enable()</code> will set a localStorage variable indicating the enabled/disabled status.  This variable will allow you to retain the status between page requests (which should ease testing).</p>

{% codeblock lang:javascript Retaining kache enabled status %}
Kache.enable();
alert(localStorage._kache_enabled); // This variable is subject to change.
                                    // I'm showing it here for illustration purposes.
{% endcodeblock %}

        <p>This variable <em>WILL OVERRIDE</em> the enabled value set in KacheConfig.</p>

        <h2>Explicit cache store request</h2>

        <p>By default, Kache will use localStorage if available and fall back to an in memory store.</p>

{% codeblock lang:javascript Defaults to localStorage %}
cache = Kache('test');
alert(cache.type == 'LocalStore'); // if localStorage is available
alert(cache.type == 'MemoryStore'); // if localStorage is NOT available
{% endcodeblock %}

        <p>You can also explictly request a specific store:</p>

{% codeblock lang:javascript Requesting store type %}
cache = Kache.Memory('test');
alert(cache.type == 'MemoryStore');    
cache = Kache.Local('test');
alert(cache.type == 'LocalStore');
{% endcodeblock %}

        <h2>Namespace Prefixes</h2>

        <p>Kache provides the ability to define a prefix for your namespaces.  This is useful, for example, if your site/app needs to support user/role impersonation, etc.  To clarify, if you logout and log back in as another user, you definitely don't want to see the previous cache data.</p>

        <p>The following example demonstrates the construction of a global namespace prefix.  You'd likely want this present on every page of your site (and username would be an actual username).</p>

{% codeblock lang:javascript Prefixing namespaces %}
window.KacheConfig = {
    namespacePrefix: 'username'
};
{% endcodeblock %}

        <p>You can disable namespace prefixing on a per namespace basis:</p>

{% codeblock lang:javascript Disabling namespace prefixes %}
window.KacheConfig = {
    namespacePrefix: 'prefix'
};

var cache1 = Kache('ns1');
alert(cache1.namespace == 'prefix#ns1';

var cache2 = Kache('ns2', {'disablePrefix': true});
alert(cache2.namespace == 'ns2';
{% endcodeblock %}

        <h2>Timeouts</h2>

        <p>There are 4 ways you can define timeouts for cache objects.</p>

        <p><em>By defining a global defaultTimeout (see KacheConfig variable):</em></p>

{% codeblock lang:javascript Global default timeout %}
window.KacheConfig.defaultTimeout = 3000; // Sets default object timeout of 3 seconds

var cache = Kache('users');
cache.set('User', 'Tom Brady');

// wait 3.5 seconds...
setTimeout(function() {
    alert(cache.get('User')); // Should have timed out
}, 3500);
{% endcodeblock %}

        <p><em>By defining a Kache namespace timeout via the Timeouts config:</em></p>

{% codeblock lang:javascript Global default timeout %}
window.KacheConfig.Timeouts = {
    'users': 3000
};

var cache = Kache('users');
cache.set('User', 'Tom Brady');

// wait 3.5 seconds...
setTimeout(function() {
    alert(cache.get('User')); // Should have timed out
}, 3500);
{% endcodeblock %}

        <p><em>The Kache constructor also accepts a timeout, which sets a default timeout for any cache instances created within that cache namespace:</em></p>

{% codeblock lang:javascript Default timeout for namespaced cache instances %}
var cache = Kache('users', {timeout: 5000}); // all cache instances in this namespace will default to a 5 second expiration
cache.set('User', 'Tom Brady');

// wait 3 seconds...
setTimeout(function() {
  alert(cache.get('User'));
}, 3000);

// 6 seconds later...
setTimeout(function() {
  alert(cache.get('User') === undefined ? 'Expired' : 'Still Alive')
}, 6000);
{% endcodeblock %}

        <p><em>set accepts an optional 3rd parameter indicating the expiration time for a cache object:</em></p>

{% codeblock lang:javascript Defining timeout via set %}
var cache = Kache('users');
cache.set('User', 'Tom Brady', 5000);

// wait 3 seconds...
setTimeout(function() {
  alert(cache.get('User'));
}, 3000);

// 6 seconds later...
setTimeout(function() {
  alert(cache.get('User') === undefined ? 'Expired' : 'Still Alive')
}, 6000);
{% endcodeblock %}

        <h3>Timeout Override order</h3>

        <p>Cache timeouts are listed here, in the order of precedence:</p>

        <ol>
        <li>set</li>
        <li>Kache Constructor</li>
        <li>KacheConfig.Timeouts</li>
        <li>KacheConfig.defaultTimeout</li>
        </ol><p>For example, the following cache bucket will have an expiration time of 4 seconds:</p>

{% codeblock lang:javascript %}
window.KacheConfig.defaultTimeout = 1000;
window.KacheConfig.Timeouts = {
    'users': 2000  // Overrides defaultTimeout
};

var cache = Kache('users', {timeout: 3000}); // Overrides KacheConfig.Timeouts.users
cache.set('User', 'Tom Brady', 4000); // Overrides Kache constructor

// wait 3.5 seconds...
setTimeout(function() {
    alert(cache.get('User')); // Should display Tom Brady
}, 3500);

// wait 4.5 seconds...
setTimeout(function() {
    alert(cache.get('User')); // Should have expired
}, 4500);
{% endcodeblock %}

        <h2>Contributing</h2>

        <p>Changes should be made to src/kache.coffee and built.  In order to build you'll need to install CoffeeScript.</p>

{% codeblock lang:bash %}
$ npm install -g coffee-script
{% endcodeblock %}

        <p>Leave off the <code>-g</code> if you don't wish to install globally.</p>

{% codeblock lang:bash %}
$ cd /path/to/kache
$ cake build
{% endcodeblock %}

        <h2>Running tests</h2>

{% codeblock lang:bash %}
$ open public/index.html
{% endcodeblock %}

        <p>Or, if you have jasmine installed:</p>

{% codeblock lang:bash %}
$ rake jasmine:ci
{% endcodeblock %}
    </article>
</div>
{% include custom/sidebar.html %}
