// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}